{{page-title "CreateDesignation"}}
<form onsubmit={{action "createDesignation"}} style="width: 70%;" class="mx-auto">
  <div class="mb-3">
    <label for="designation" class="form-label">Designation</label>
    <Input type="text" id="designation" @value={{this.designationName}} class="form-control" />
  </div>
  <div class="mb-3">
    <label for="salary" class="form-label">Salary</label>
    <Input type="number" id="salary" class="form-control" @value={{this.salary}} />
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
{{outlet}}