{{page-title "Editdepartment"}}
<h1>Edit Department</h1>
<form onsubmit={{action "editDepartment"}}>
  <Input for="departmentid" class="form-control" type="hidden" @value={{@model.id}} />
  <div>
    <label for="departmentName" class="form-label">Department Name</label>
    <Input id="departmentName" class="form-control" @value={{@model.departmentName}} />
  </div>

  <button type="submit" class="btn btn-primary mt-2">Update</button>
</form>
{{outlet}}