{{page-title "Editemployee"}}
<h1>Edit Employee </h1>
<form onsubmit={{action "editEmployee"}} style="width: 70%;" class="mx-auto">
  <div class="mb-3">
    <label for="name" class="form-label">Employee Name</label>
    <Input type="text" id="designation" @value={{@model.name}} class="form-control" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <Input type="text" id="email" class="form-control" @value={{@model.email}} />
  </div>
    <div class="mb-3">
    <label for="number" class="form-label">Contact Number</label>
    <Input type="number" id="number" class="form-control" @value={{@model.contactNumber}} />
  </div>

  <div class="mb-3">
    <label for="sex" class="form-label">Gender</label>
    <Input type="text" id="sex" class="form-control" @value={{@model.sex}} />
  </div>
    <div class="mb-3">
    <label for="email" class="form-label">Hire Date</label>
    <Input type="date" id="hireDate" class="form-control" @value={{@model.hireDate}} />
  </div>
    <div class="mb-3">
    <label for="email" class="form-label">Department</label>
    <Input type="text" id="email" class="form-control" @value={{@model.departmentId.departmentName}} />
  </div>
    <div class="mb-3">
    <label for="email" class="form-label">Designation</label>
    <Input type="text" id="email" class="form-control" @value={{@model.designationID.designationName}} />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{{outlet}}